_site
_site/*
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
node_modules/
assets/.DS_Store
scanapp-js/.DS_Store
scanapp-js/node_modules/
scanapp-js/package-lock.json
scanapp-js/.vscode/
scanapp-js/dist/
scanapp-js/src/*.d.ts
scanapp-js/src/*/*.d.ts
scanapp-js/src/*/*/*.d.ts
package-lock.json
