---
layout: blog_default
title: Blog by ScanApp - QR Code scanner for web
permalink: /blog/
---

<div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
        <h1 class="post-title">
            <a href="{{ post.url | relative_url }}">
                {{ post.title }}
            </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }} by <a href="{{ post.author_url }}">{{ post.author }}</a></span>

        {% if post.image %}
        <div style="display: flex;justify-content: center;;">
            <img src="{{ post.image }}" alt="{{ post.title }}" />
        </div>
        {% endif %}

        {{ post.description }}
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.next_page %}
        <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
    {% else %}
        <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
        <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
        {% else %}
        <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
        {% endif %}
    {% else %}
        <span class="pagination-item newer">Newer</span>
    {% endif %}
</div>