<div class="header-links">         
    <a href="https://scanapp.org">ScanApp - Home</a>
    <a href="https://scanapp.org/blog">Blog</a>
    <a href="https://scanapp.org/support">Support</a>
    <a href="{{ site.github.org }}">GitHub project</a>
</div>
<style type="text/css">
.header-links {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13pt;
}
.header-links a {
    margin: 0px 10px 0px 10px;
    color: #303030;
}
.header-links a {
    margin: 0px 10px 0px 10px;
    color: #303030;
}
</style>