<head>
    <link href="https://minhazav.dev" rel="profile">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta charset="utf-8">
    <meta property="og:type" content="website">

    {% if page.title == "Home" %}
    <title>{{ site.title }}</title>
    {% else %}
    <title>{{ page.title }}</title>
    <meta name="title" content="{{ page.title }}">
    <meta property="twitter:title" content="{{ page.title }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="twitter:url" content="{{ page.url | absolute_url }}">
    <meta property="twitter:card" content="summary_large_image">

    <!-- description -->
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="twitter:description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="Blog by ScanApp - find helpful articles around QR scanning, Bar Code scanning, React and Javascript technologies by amazing authors. Use ScanApp to scan QR or different Bar Codes on your web browser using camera or images.">
    {% endif %}
    {% if page.image %}
    <meta property="twitter:image" content="{{ page.image }}">
    <meta property="og:image" content="{{ page.image }}">
    {% else %}
    <meta property="twitter:image" content="https://scanapp.org/assets/svg/scanapp-logo.png">
    <meta property="og:image" content="https://scanapp.org/assets/svg/scanapp-logo.png">
    {% endif %}
    {% endif %}

    <!-- TODO: Add canonical link -->

    <link rel="stylesheet" href="https://scanapp.org/assets/css/poole.min.css">
    <link rel="stylesheet" href="https://scanapp.org/assets/css/syntax.min.css">
    <link rel="stylesheet" href="https://scanapp.org/assets/css/lanyon.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

    <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/public/apple-touch-icon-precomposed.png' | absolute_url }}"> -->
    <!-- <link rel="shortcut icon" href="{{ '/public/favicon.ico' | absolute_url }}"> -->

    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">
</head>