<div id="footer">
    Scanning done locally on your device.
    <br>
    Built with &hearts; using <a href="https://github.com/mebjas/html5-qrcode">mebjas/html5-qrcode</a>
    <div class="empty"></div>
    <a href="https://github.com/scanapp-org/scanapp-org.github.io/issues/new">Report issue</a> |
    <a href="https://minhazav.dev">Contact us</a> | 
    <a href="/blog">Blog</a> |
    <a href="https://blog.minhazav.dev">Blog by Minhaz</a> |
    <a href="https://github.com/scanapp-org">Open source projects</a> |
    <a href="https://www.freepik.com/vectors/technology">Vector assets from freepik</a>
</div>