body {
    padding: 0px;
    margin: 0px;
    background: white;
    font-family: roboto;
    overflow-x: hidden;
}

.empty {
    display: block;
    width: 100%;
    height: 20px;
}

#new-scanned-result {
    width: 100%;
    background: white;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0px;
}


#logo {
    text-align: center;
    padding: 10px;
}

#logo img {
    height: 40px;
    background: #ffffff66;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

#scanapp-top-container {
    min-height:100vh;
    display:flex;
    flex-direction:column; 
    justify-content:space-between;
}

@media(max-width: 600px) {
    #scanapp-container {
        display: block;
    }

    #scanner, #workspace {
        display: 100px;
    }

    #reader {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #new-scanned-result {
        display: none;
        position: fixed;
        top: calc(25%);
        border-radius: 30px 30px 0px 0px;
        height: calc(75%);
        border: 1px solid black;
    }

    div.workspace-header {
        display: none;
    }

    div#no-result-container {
        display: none;
    }
}

@media(min-width: 600px) {
    #scanapp-container {
        display: flex;
    }

    #scanner {
        flex: 2
    }
    #workspace {
        flex: 1;
        border: 1px solid silver;
        /* border-bottom: 1px solid silver; */
        margin: 20px;
        margin-top: 60px;
    }

    #reader {
        width: 80%;
        margin: auto;
        padding: 0px;
    }

    #new-scanned-result {
        display: none;
        /* height: 100%; */
    }

    div.workspace-header {
        text-align: center;
        font-size: 20pt;
        font-weight: bold;
        background: #dadada;
    }

    div#no-result-container {
        text-align: center;
        font-size: 14pt;
        padding: 50px 0px 50px 0px;
    }
}

#history {
    display: none;
}

div#no-result-container.hidden {
    display: none;
}

#new-scanned-result {
    width: 100%;
    background: white;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

div#new-scanned-result .header {
    margin: 10px;
    font-size: 18pt;
    font-weight: bold;
}

div#new-scanned-result .image {
    display: block;
    width: 200px;
    height: 100px;
    border: 1px solid #00000040;
    margin: auto;
    background: silver;
    margin-bottom: 15px;
}

#footer {
    margin-top: 100px;
    border-top: 1px solid silver;
    font-size: 9pt;
    font-weight: 400;
    background: #8080804a;
    padding: 50px;
    text-align: center;
}

div#scan-result-parsed {
    background: #dadada54;
    color: black;
    border: 1px solid #b3b3b333;
    padding: 5px;
    font-family: consolas;
}

table#result_table {
    /* border: 1px solid #c0c0c04a; */
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 5px;
}

.action_image {
    width: 20px;
    padding: 10px;
    border: 1px solid #c0c0c066;
    border-radius: 10px;
}

.action_image:hover {
    background: #c0c0c06e;
}

#body-footer {
    margin-top: 20px;
    border-top: silver solid 1px;
    padding: 10px;
}

/** Badge **/
:root{
  --color-primary: #214fe0;
  --color-dark: #1d1f20;
  --color-light: #f4f4f4;
  --color-shade: #bbb;
  
  --badge-size: 150px;
  
  --lock-color: #fff;
  --lock-width: 20px;
  --lock-stroke: 2.5px;
  
}

.badge-icon, 
.badge-text{
  padding: 5px 5px;
  float:left;
  -webkit-box-flex:1;
  flex:1;
  text-align: center;
  font: normal small-caps normal 10px/1.5 Arial, Helvetica,   sans-serif;
  text-transform: uppercase;
  text-align: left;
}

.badge{
  display: inline-block;
  color: var(--color-light);
  /* min-width: var(--badge-size); */
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid silver;
}

.badge-icon{
  background: silver;
  max-width: calc( var(--badge-size) / 4);
  color: black;
}

.badge-text{
  color: var(--color-dark);
  background-color: var(--color-light);
}

/** Banner */
.banners-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
  
.banner {
    color: white;
    font-weight: 700;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner .banner-message {
    flex: 1;
    padding: 0 2rem;
}
.banner .banner-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}
.banner .banner-close:hover {
    background: rgba(0, 0, 0, 0.12);
}
  
.banner.success {
    background: #10c15c;
}
.banner.success::after {
    background: #10c15c;
}
.banner.error {
    background: #ed1c24;
}
.banner.error::after {
    background: #ed1c24;
}
.banner.info {
    background: #0b22e2;
}
.banner.info::after {
    background: #0b22e2;
}  
.banner::after {
    content: "";
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 100%;
    left: 0;
}
  
.banner:not(.visible) {
    display: none;
    transform: translateY(-100%);
}
  
.banner.visible {
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.12);
    animation-name: banner-in;
    animation-direction: forwards;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes banner-in {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0);
    }
}
.show-banner {
    appearance: none;
    background: #ededed;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0.25rem;
}

/** iframe guard */
#iframe-alert {
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: rgb(242 242 242 / 98%);
    border: 1px solid #727272;
    box-shadow: -4px -4px 10px 1px #00000061;
    z-index: 10;
}

div#iframe-alert-image {
    text-align: center;
    margin: 20px;
}

div#iframe-alert-subimage {
    text-align: center;
}

div#iframe-alert-subimage img {
    max-width: 60%;
}

div#iframe-alert-section {
    font-weight: bold;
    margin: 50px 10px 10px 10px;
    text-align: center;
    font-size: 16pt;
}

div#iframe-alert-actions {
    text-align: center;
}

div#iframe-ad {
    text-align: center;
    margin: 20px;
    position: absolute;
    bottom: 0px;
}

a, a:visited {
    color: black;
    text-decoration: underline;
}
