<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="refresh" content="7; url=/">
  <link rel="icon" sizes="144x144" href="/assets/svg/log_sq-144.jpg">
  <!-- Primary Meta Tags -->
  <title>404 Not Found | QR Code Scanner - ScanApp</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2KZEP7DPYH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-2KZEP7DPYH');
  </script>
  <style type="text/css">
    html, body {
        margin: 0px;
        padding: 0px;
        height: 100vh;
        width: 100%;
    }

    .body-404 {
        height: 100vh;
        width: calc(100% - 40px);
        display: flex;
        justify-content: center;
        padding: 20px;
        text-align: center;
        font-size: 20pt;
        font-weight: bold;
        font-family: sans-serif;
    }

    .body-404 div {
        display: inline-block;
        margin: auto;
    }
  </style>
</head>
<body data-instant-allow-query-string data-instant-allow-external-links>
    <div class="body-404">
        <div>Sorry this page does not exist redirecting you to ScanApp Home in 7 seconds...</div>
    </div>
</body>
</html>




