<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Primary Meta Tags -->
  <title>One scanner for all your needs</title>
  <meta name="title" content="One scanner for all your needs">
  <meta name="description" content="Scan QR codes and bar codes directly on your web browser using camera stream or images saved on your device. Works well on smart phones as well as PC or Mac.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://scanapp.org/">
  <meta property="og:title" content="One scanner for all your needs">
  <meta property="og:description" content="Scan QR codes and bar codes directly on your web browser using camera stream or images saved on your device. Works well on smart phones as well as PC or Mac.">
  <meta property="og:image" content="https://scanapp.org/assets/svg/logo_sq.svg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://scanapp.org/">
  <meta property="twitter:title" content="One scanner for all your needs">
  <meta property="twitter:description" content="Scan QR codes and bar codes directly on your web browser using camera stream or images saved on your device. Works well on smart phones as well as PC or Mac.">
  <meta property="twitter:image" content="https://scanapp.org/assets/svg/logo_sq.svg">
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2KZEP7DPYH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2KZEP7DPYH');
  </script>

  <link rel="preload" href={{ "/assets/main.css" | relative_url }} as="style">
  <link rel="stylesheet" href={{ "/assets/main.css" | relative_url }}>

  <body data-instant-allow-query-string data-instant-allow-external-links>

    <div> {{ content }} </div>

  </body>
  
</html>