---
layout: empty
---
<link rel="stylesheet" href="/assets/css/index.v2.2.8.1.css">
<div id="scanapp-top-container">
    <div id="scanapp-container">
        <div id="scanner">
            <div id="logo">
                <img src="/assets/svg/scanapp.svg" alt="logo" />
            </div>
            <div id="reader-top-container" style="position: relative;">
                <div id="reader-container">
                    <div id="reader"></div>
                </div>
            </div>
            <div class="empty"></div>
        </div>
        <div id="workspace">
            <div id="result">
                <div class="workspace-header" id="qr-result-viewer-header"></div>
                <div id="no-result-container">
                    <div class="no-result-container-image">
                        <img src="/assets/images/71024-scan-qr-code-concept-illustration-digital-marketing-illustration.300px.gif"
                            style="max-width: 300px;"
                            alt="Scan to get results">
                    </div>
                    <div class="no-result-container-text">Scan to get results</div>
                </div>
                <div id="new-scanned-result" class="pop-up-banner">
                    <div class="header">
                        New <span id="scan-result-code-type">{code}</span> detected!
                    </div>
                    <div class="section">
                        <div class="image" id="scan-result-image"></div>
                        <div class="data">
                            <table id="result_table">
                                <tr>
                                    <!-- <td>Parsed</td> -->
                                    <td colspan="2">
                                        <div>
                                            <div class="badge">
                                                <div class="badge-icon">
                                                    <span><b>Type</b></span>
                                                </div>
                                                <div class="badge-text">
                                                    <span id="scan-result-badge-body">{type}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="scan-result-parsed">{parsed result here}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Actions</td>
                                    <td>
                                        <img class="action_image" id="action-share" 
                                            src="./assets/svg/share-svgrepo-com.svg">
                                        <img class="action_image" id="action-copy" 
                                            src="./assets/svg/copy-svgrepo-com.svg">
                                        <img class="action_image" id="action-payment" 
                                            src="./assets/svg/coin-svgrepo-com.svg" style="display: none">
                                        <img class="action_image" id="action-url" 
                                            src="./assets/svg/link2.svg" style="display: none;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Text</td>
                                    <td style="word-break: break-word">
                                        <div id="scan-result-text">{text result here}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="body-footer" class="footer">
                        <button id="scan-result-close" class="scanapp-button">
                            Close and scan another
                        </button>
                    </div>
                </div>
                <!-- Change to display: flex-->
                <div id="a2hs-container" class="pop-up-banner">
                    <div class="header">
                        Add ScanApp to home screen
                    </div>
                    <div class="section">
                        <div class="section-image">
                            <img src="/assets/svg/log_sq-512.png"
                                alt="scanapp logo"
                                style="max-width: 150px;">
                        </div>
                        <div class="section-info">
                            ScanApp is a free a QR code and bar code scanner.
                            
                            Add ScanApp to homescreen to use it any time any where even without internet.
                            <br>
                            <br>
                            <div id="section-info-more">
                                <ul>
                                    <li>Runs directly on your browser</li>
                                    <li>Use camera directly or select image from disk</li>
                                    <!-- <li>Lightweight and easy to use</li> -->
                                </ul>
                            </div>
                            <!-- No need to install another QR Scanner on your device ever. -->
                        </div>
                    </div>
                    <div class="footer">
                        <button id="a2hs-cancel" class="scanapp-button">Cancel</button>
                        <button id="a2hs-add" class="scanapp-button">Install on device</button>
                        <br>
                        <label for="a2hs-add-never">
                            <input type="checkbox" id="a2hs-add-never">
                            Don't show this dialog again.
                        </label>
                    </div>
                </div>
            </div>
            <div id="history">
                <div class="workspace-header">Scan History</div>
                <div id="no-result-container">No scans in history</div>
                <div id="history-list"></div>
            </div>
        </div>
    </div>
    <div id="footer">
        Scanning done locally on your device.
        <br>
        Built with &hearts; using <a href="https://github.com/mebjas/html5-qrcode">mebjas/html5-qrcode</a>
        <div class="empty"></div>
        <a href="https://github.com/scanapp-org/scanapp-org.github.io/issues/new">Report issue</a> |
        <a href="https://minhazav.dev">Contact us</a> | 
        <a href="/blog">Blog</a> |
        <a href="https://blog.minhazav.dev">Blog by Minhaz</a> |
        <a href="https://github.com/scanapp-org">Open source projects</a> |
        <a href="https://www.freepik.com/vectors/technology">Vector assets from freepik</a>
    </div>
</div>

<div class="banners-container">
  <div class="banners">
    <div class="banner error">
      <div class="banner-icon"><i data-eva="alert-circle-outline" data-eva-fill="#ffffff" data-eva-height="48" data-eva-width="48"></i></div>
      <div class="banner-message" id="banner-error-message">{}</div>
      <div class="banner-close" onclick="hideBanners()"><i data-eva="close-outline" data-eva-fill="#ffffff"></i></div>
    </div>
    <div class="banner success">
      <div class="banner-icon"><i data-eva="checkmark-circle-outline" data-eva-fill="#ffffff" data-eva-height="48" data-eva-width="48"></i></div>
      <div class="banner-message" id="banner-success-message">{}</div>
      <div class="banner-close" onclick="hideBanners()"><i data-eva="close-outline" data-eva-fill="#ffffff"></i></div>
    </div>
  </div>
</div>

<div id="iframe-alert" style="display: none;">
    <div id="iframe-alert-image"><img src="/assets/svg/alert-svgrepo-com.svg"></div>
    <div id="iframe-alert-subimage"><img src="/assets/svg/scanapp.svg" /></div>
    <div id="iframe-alert-section">
        The scanner is powered using <a href="https://scanapp.org">scanapp.org</a></div>
    <div id="iframe-alert-actions">
        <div>
            Scan with ad-free experience using <a href="https://scanapp.org">scanapp.org</a>
        </div>
        <br>
        <div>
            <button id="iframe-alert-actions-navigate">Go to scanapp.org</button>
            or
            <button id="iframe-alert-actions-continue">Continue here (5)</button>
        </div>
    </div>
    <!-- ScanAppAntiEmbedBottomAd -->
    <div style="width: 100%; min-height: 500px; margin-top: 20px; padding: 20px; text-align: center;">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6209792783516879"
     crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="autorelaxed"
            data-ad-client="ca-pub-6209792783516879"
            data-ad-slot="1034299007"></ins>
    </div>
</div>

<script src="https://unpkg.com/eva-icons" onload="eva.replace()"></script>
<script src="/assets/js/html5-qrcode.min.v2.3.2.js"></script>
<script src="/assets/js/app.min.v2.3.1.1.js"></script>
<!-- <script src="/assets/js/app.js"></script> -->
