---
layout: empty
---
<div class="scanapp-top-container">
    <div class="scanapp-top-container-row">
        <div id="desktop-scanapp-left-container" class="scanapp-l1-container">
            <div id="scanapp-left-container-parent">
                <div class="desktop-header-area">
                    <div class="desktop-logo">
                        <img src="/assets/svg/scanapp.svg" alt="logo" width="160px" height="40px" alt="logo" />
                    </div>
                    <div class="desktop-header-links">
                        <a href="./blog" target="_blank">Blog</a>
                        <a href="https://medium.com/qr-code" target="_blank">Medium</a>
                        <a href='https://ko-fi.com/L3L84G0C8' target='_blank'>
                            <!-- <span id="image-place-holder-ko-fi">Buy Me a Coffee at ko-fi.com</span> -->
                            <img src="https://storage.ko-fi.com/cdn/kofi2.png?v=3"
                                loading="lazy"
                                width="141" height="36"
                                alt="Buy Me a Coffee at ko-fi.com"
                                style="border: 0px" />
                        </a>
                    </div>
                </div>
                <div class="desktop-render-area">
                    <div id="reader-container">
                        <div id="reader"></div>
                    </div>
                </div>
                <div class="desktop-footer-area ">
                    <div class="desktop-footer-area-top-panel">
                        Built with <span class="heart">&hearts;</span> using <a href="https://github.com/mebjas/html5-qrcode">mebjas/html5-qrcode</a>
                    </div>
                    <div class="desktop-footer-area-bottom-panel">
                        <div class="desktop-footer-area-bottom-panel-col">
                            <div>
                                <a href="https://github.com/scanapp-org/scanapp-org.github.io/issues/new">Report issue</a>
                            </div>
                            <div>
                                <a href="https://minhazav.dev">Contact us</a>
                            </div>
                        </div>
                        <div class="desktop-footer-area-bottom-panel-col">
                            <div>
                                <a href="https://blog.minhazav.dev">Blog by Minhaz</a>
                            </div>
                            <div>
                                <a href="https://github.com/scanapp-org">Open source projects</a>
                            </div>
                        </div>
                        <div class="desktop-footer-area-bottom-panel-col">
                            <div>
                                <a href="https://www.freepik.com/vectors/technology">Vector assets from freepik</a>
                            </div>
                        </div>
                        <div class="desktop-footer-area-bottom-panel-col">
                            <div>
                                <a href="https://fixthephoto.com/scanapp-review.html" id="ftp-backlink">
                                    <!-- <span id="image-place-holder-ftp-award">top choice award by ftp</span> -->
                                    <img src="./assets/images/scanapp-ftp-award-250w.webp"
                                        loading="lazy"
                                        width="120" height="131"
                                        alt="top choice award by ftp" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="desktop-scanapp-right-container" class="scanapp-l1-container">
            <div class="desktop-right-container-top-panel">
                <div class="desktop-right-container-top-panel-text">
                     <!-- TODO: Move to H1-->
                     <div class="desktop-text-data-title">QR Code Scanner - ScanApp</div>
                     <div class="desktop-text-data-body">
                         Use ScanApp to scan QR codes or different types of Bar Codes on your web browser using camera or images on the device. Scanning is supported on PC, Mac, Android or IOS and works 100% free! No signups required!
                     </div>
                     <div class="desktop-text-data-subtitle">Scanning is done locally on your device</div>
                </div>
                <!-- TODO: Top panel options -- implement this. -->
                <div class="desktop-right-container-top-panel-options" style="display: none;">
                    <div class="desktop-right-container-top-panel-option">
                        <div class="action-icons">
                            <img src="./assets/images/icons/dark_mode.svg" alt="Dark Mode" height="36px" />
                        </div>
                    </div>
                    <div class="desktop-right-container-top-panel-option">
                        <div class="action-icons">
                            <img src="./assets/images/icons/settings.svg" alt="settings" height="36px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="desktop-right-container-panel desktop-right-container-result-panel">
                <div class="desktop-result-panel-header">
                    <div class="desktop-result-panel-header-title">
                        <!--
                            <div class="desktop-result-panel-header-title-icon">
                                <img src="./assets/images/icons/qr.svg" alt="qr" height="24px" />
                            </div>
                        -->
                        <div class="desktop-result-panel-header-title-text">Scan Result</div>
                    </div>
                    <div class="desktop-result-panel-header-actions">
                        <!-- TODO: Make this dynamic -- expand less for phone is opposite -->
                        <div class="action-icons" id="result-panel-minimize-action">
                            <img src="./assets/images/icons/expand_less.svg" alt="minimize" width="48px" height="48px" />
                        </div>
                    </div>
                </div>
                <div class="desktop-result-panel-body" id="result-panel-body-id">
                    <div class="desktop-result-panel-body-placeholder" id="result-panel-placeholder">
                        <div id="image-place-holder-qr-placeholder">
                            <img src="./assets/images/qr-result-placeholder.png"
                                loading="lazy"
                                width="161" height="300"
                                alt="Scan to get results" />
                        </div>
                        <div>Scan to get results</div>
                    </div>
                    <div class="desktop-result-panel-body-actual mobile-popup-banner" id="result-panel-container">
                        <div>
                            <div class="header">
                                New <span id="scan-result-code-type">{code}</span> detected!
                            </div>
                            <div class="section">
                                <div class="image" id="scan-result-image"></div>
                                <div class="data">
                                    <table id="result_table">
                                        <tr>
                                            <td colspan="2">
                                                <div>
                                                    <div class="badge">
                                                        <div class="badge-icon">
                                                            <span><b>Type</b></span>
                                                        </div>
                                                        <div class="badge-text">
                                                            <span id="scan-result-badge-body">{type}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="scan-result-parsed">{parsed result here}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Actions</td>
                                            <td>
                                                <img class="action_image" id="action-share" alt="Share the result"
                                                        src="./assets/svg/share-svgrepo-com.svg" width="20px" height="20px">
                                                <img class="action_image"
                                                    width="20px" height="20px"
                                                    id="action-copy" 
                                                    alt="Copy the result text"
                                                    src="./assets/svg/copy-svgrepo-com.svg">
                                                <img class="action_image" id="action-payment" alt="Make a payment"
                                                    src="./assets/svg/coin-svgrepo-com.svg" style="display: none"
                                                    width="20px" height="20px">
                                                <img class="action_image" id="action-url"  alt="Open the URL"
                                                    src="./assets/svg/link2.svg" style="display: none;"
                                                    width="20px" height="20px">
                                                <img class="action_image" id="action-download"  alt="Download text"
                                                    src="./assets/images/icons/download.svg"
                                                    width="20px" height="20px">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Text</td>
                                            <td style="word-break: break-word">
                                                <div id="scan-result-text">{text result here}</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="body-footer" class="footer">
                            <button id="scan-result-close" class="scanapp-button">
                                Close and scan another
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TODO: Implement history feature and enable this UI. -->
            <div class="desktop-right-container-panel desktop-right-container-history-panel hidden-initially">
                <div class="desktop-result-panel-header">
                    <div class="desktop-result-panel-header-title">
                        <!-- <div class="desktop-result-panel-header-title-icon">
                            <img src="./assets/images/icons/history.svg" alt="history" height="36px" />
                        </div> -->
                        <div class="desktop-result-panel-header-title-text">Scan History</div>
                    </div>
                    <div class="desktop-result-panel-header-actions">
                        <div class="action-icons">
                            <img src="./assets/images/icons/delete.svg" alt="clear" height="36px" />
                        </div>
                        <div class="action-icons" id="history-panel-minimize-action">
                            <img src="./assets/images/icons/expand_less.svg" alt="minimize" width="48px" height="48px" />
                        </div>
                    </div>
                </div>
                <div class="desktop-result-panel-body desktop-result-panel-scan-history" id="history-panel-body-id">
                    <!-- Migrate to JS based creation -->
                    <div class="desktop-result-panel-scan-history-placeholder">
                        No scan history
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mobile specific containers-->
<div id="mobile-popup-scrim"></div>
<div class="mobile-bottom-navbar" id="mobile-bottom-navbar-id">
    <div class="mobile-bottom-navbar-option">
        <div class="menu-icons" id="navbar-menu-icon-sponsor">
            <img src="./assets/images/icons/coffee.svg" alt="sponsor" height="36px" />
        </div>
    </div>
    <!--
    <div class="mobile-bottom-navbar-option">
        <div class="menu-icons" id="navbar-menu-icon-history">
            <img src="./assets/images/icons/history.svg" alt="history" height="36px" />
        </div>
    </div>
    -->
    <div class="mobile-bottom-navbar-option">
        <div class="menu-icons inactive" id="navbar-menu-icon-qr">
            <img src="./assets/images/icons/qr.svg" alt="QR" height="36px" />
        </div>
    </div>
    <div class="mobile-bottom-navbar-option">
        <div class="menu-icons" id="navbar-menu-icon-menu">
            <img src="./assets/images/icons/menu.svg" alt="menu" height="36px" />
        </div>
    </div>
    <!--
    <div class="mobile-bottom-navbar-option" style="opacity: 0">
        <div class="menu-icons">
            <img src="./assets/images/icons/menu.svg" alt="menu" height="36px" />
        </div>
    </div>
    -->
</div>

<div class="mobile-popup-banner" id="mobile-about-panel">
    <div>
        <div class="header">
            <div class="mobile-about-logo">
                <img src="/assets/svg/scanapp.svg" alt="logo" width="160px" height="40px" alt="logo" />
            </div>
        </div>
        <div class="body">
            <div class="mobile-about-text-panel">
                <div class="mobile-about-built-with-love">
                    Built with <span class="heart">&hearts;</span> using <a href="https://github.com/mebjas/html5-qrcode">mebjas/html5-qrcode</a>
                </div>
                <div>
                    Scanning is done locally on your device
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="mobile-about-links-panel">
            <div class="mobile-about-links-col">
                <div>
                    <a href="https://github.com/scanapp-org/scanapp-org.github.io/issues/new" target="_blank">Report issue</a>
                </div>
                <div>
                    <a href="https://minhazav.dev" target="_blank">Contact us</a>
                </div>
                <div>
                    <a href="https://blog.minhazav.dev" target="_blank">Blog by Minhaz</a>
                </div>
                <div>
                    <a href="https://github.com/scanapp-org" target="_blank">Open source projects</a>
                </div>
                <div>
                    <a href="https://www.freepik.com/vectors/technology" target="_blank">Vector assets from freepik</a>
                </div>
            </div>
            <div class="mobile-about-links-col">
                <div>
                    <a href="./blog" target="_blank">Blog</a>
                </div>
                <div>
                    <a href="https://medium.com/qr-code" target="_blank">Medium</a>
                </div>
            </div>
        </div>
        <div>
            <button id="scan-about-close" class="scanapp-button">Close</button>
        </div>
    </div>
</div>

<div class="mobile-popup-banner" id="mobile-sponsor-panel">
    <div>
        <div class="header">
            <div class="mobile-history-panel-header-text">Support ScanApp</div>
        </div>
        <div class="body" id="mobile-sponsor-panel-body"></div>
    </div>
    <div class="footer">
        <button id="scan-sponsor-close" class="scanapp-button">Close</button>
    </div>
</div>

<!-- TODO: Merge with desktop history later. -->
<div class="mobile-popup-banner" id="mobile-history-panel">
    <div>
        <div class="header">
            <div class="mobile-history-panel-header-text">Scan History</div>
        </div>
        <div class="body">
            <div class="mobile-history-panel-text">
                <div>
                    Thanks for showing interest in this feature.
                </div>
                <div>
                    QR scan history support coming soon!
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <button id="scan-history-close" class="scanapp-button">Close</button>
    </div>
</div>

<!-- General containers -->
{% include index_banner.html %}

<div id="iframe-alert" style="display: none;">
    <div id="iframe-alert-image"><img src="/assets/svg/alert-svgrepo-com.svg" alt="Alert"></div>
    <div id="iframe-alert-subimage"><img src="/assets/svg/scanapp.svg" alt="ScanApp logo"/></div>
    <div id="iframe-alert-section">
        The scanner is powered using <a href="https://scanapp.org">scanapp.org</a></div>
    <div id="iframe-alert-actions">
        <div>
            Scan with ad-free experience using <a href="https://scanapp.org">scanapp.org</a>
        </div>
        <br>
        <div>
            <button id="iframe-alert-actions-navigate">Go to scanapp.org</button>
            or
            <button id="iframe-alert-actions-continue">Continue here (5)</button>
        </div>
    </div>
    <!-- ScanAppAntiEmbedBottomAd -->
    <!-- Removed for now as the surface is low, but this slows down the execution alot on main thread. -->
    <!-- 
    <div style="width: 100%; min-height: 500px; margin-top: 20px; padding: 20px; text-align: center;">
        <script defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6209792783516879"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="autorelaxed"
            data-ad-client="ca-pub-6209792783516879"
            data-ad-slot="1034299007"></ins>
    </div>
    -->
</div>

<!-- <script defer src="https://unpkg.com/eva-icons@1.1.3/eva.min.js" onload="eva.replace()"></script> -->

<!-- Appzi: Capture Insightful Feedback -->
<!-- TODO: Enable this one way for desktop and other way for mobile. -->
<!-- <script async src="https://w.appzi.io/w.js?token=TR2yJ"></script> -->
<!-- End Appzi -->
